---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    Diligent and results-driven Loan Officer with 2 years of experience in the financial industry. 
Proficient in analyzing financial data, assessing creditworthiness, and guiding clients through the loan process.
 Adept at building and maintaining strong relationships with clients, ensuring their financial goals are met through tailored and appropriate loan solutions.
 Demonstrated ability to thrive in a fast-paced environment while adhering to regulatory standards and maintaining a high level of customer satisfaction.
I am Ambitious and detailed-oriented Digital marketing enthusiast with a strong passion for driving business growth, through creative online campaigns.
Proficient in Socia Media, Content Creation, Google Analytics. And am eager to bring fresh ideas and perspectives to a dynamic team.
.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Digital Marketing"
      subtitle=" 2024 at HoneyTreatAcademy, Lagos, Nigeria"
    />
    <TimeLineElement
      title="Bsc Sociology"
      subtitle="2013 to 2017 at Kogi State University Anyingba, Kogi, Nigeria"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Social Media Manager"
      subtitle=" 2024 at Greenpath, Lagos, Nigeria"
    >
      Social Media Management: create and schedule post for social media platforms like (facebook, Instagram and Tiktok)
Content Creation: Write and publish bloq post on the company websites
Email Marketing: Design and send Newsletter to subscribers)
Campaign Management: Assist in planning and executing digital marketing campaigns like Social Media contests, influencer partnerships
Monitor campaign performance and provide insights for optimization
Google My Business: Help to manage their online presence across google, including google search and google Maps
SEO Optimization: Ensure maximum SEO optimization for the company Using Keywords Research, And Local SEO.
.
    </TimeLineElement>
    <TimeLineElement
      title="Portfolio Manager"
      subtitle="From 2021 to 2024 at Addosser Micro Finance Bank, Lagos, Nigeria"
    >
 •Carries out customer assessments and business evaluation to meet up with bank, know your customers business (KYC) specifications.
•	Lease with Credit officer for loan repayment.
•	Head of loan recovery officer
•	Work with credit for loan follow up and recovery to keep the banks PAR at a reasonable and acceptable percentage.
•	Carried out Risk analysis to determine the exposure of the organization and make recommendation.                   
.
    </TimeLineElement>
    <TimeLineElement
      title="Receptionist at Best Deal Naija"
      subtitle="From  2020 to 2021 at Best Deal Naija, Lagos, Nigeria"
    >
      Greet And Assist Visitors,Manage the front desk,Scheduling and coordination,Communication And Collaboration,Maintain Confidentiality,Administrative task, performs various Administrative duties,such as Data entry, Filling,and record keeping.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Search Engine Optimization(SEO)</li>
    <li>Email Marketing</li>
    <li>Social Media Marketing</li>
    <li>Google My Business</li>
    <li>Content Marketing</li>
    <li>Content Creation</li>
    <li>Instagram Ads</li>
    <li>Facebook Ads</li>
    <li>TikTok Ads</li>
    <li>Linkedin Ads</li>
    <li>Snapchats Ads</li>
    <li>Twitter Ads</li>
    <li>Technical SEO</li>
    <li>Organic Marketing</li>
    <li>Google Analytics</li>
  </ul>
</BaseLayout>
