---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PCSH4B4F"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I'm Bello Ifeoluwa</div>
    <div class="text-3xl py-3 font-bold">Digital Marketing Specialist</div>
    <div class="py-2">
      <text class="text-lg">
      As a Digital Marketing Specialist <b></b> I’m a results-driven Digital Marketing Specialist driving business growth through data-driven strategies. Proven track record of success in SEO, social media marketing, email marketing, and content marketing.

Increased website traffic by 30% through SEO optimization and content creation.
<br>
Boosted social media engagement by 500% through targeted campaigns and content calendar management.
Improved email open rates by 25% through personalized campaigns and automation.

Developed and executed social media campaigns resulting in 200% increase in followers and 100% increase in engagement.

Created and implemented email marketing campaigns achieving 20% open rate and 10% conversion rate.
Conducted keyword research and optimized website content resulting in 15% increase in organic traffic.
Google Analytics Certification
HubSpot Inbound Marketing Certification
Facebook Ads Certification

Projects and Case Studies

SEO Audit and Optimization for [Samsa Foods &]Conducted comprehensive SEO audit and provided recommendations for improvement.
Implemented on-page optimization strategies, resulting in 20% increase in organic traffic

Developed and executed social media campaign, resulting in  50% increase in followers and 200% increase in engagement.

Created and curated engaging content, achieving 25% increase in social media referrals. 

Proficient in SEO and keyword research 
Social media marketing (paid and organic)
Email marketing and automation
Content marketing and creation
Analytics and reporting (Google Analytics, Facebook Ads)
<meta name="google-site-verification" content="kvHs26R_E44601aE-0hyIJ44HpqtxXsVEPi57bfqPv4" />
      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="https://twitter.com/ifeoluwabe58339" target="_blank"> Let's connect!</a>
      <a href="https://www.linkedin.com/in/ifeoluwa-bello-991058224?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app" target="_blank" class="btn btn-outline ml-5">
        Review My Resume
      </a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
  </div>

  <HorizontalCard
    title="Breathe Easy,Cost&Tips To Professional Smoke Removal Services"
    img="/post_img.webp"
    desc="https://www.puroclean.com/schwenksville-pa-puroclean-lansdale/blog/breathe-easy-cost-tips-to-professional-smoke-removal-service"
    url="#"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="5 Hidden Facts Of Digital Media Marketing"
    img="/post_img.webp"
    desc="https://greenpathsdev.com/digital-media-marketing-the-power-of-social-media/"
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="The Important Of Professional Biohazard Cleanup Services"
    img="/post_img.webp"
    desc="https://greenpathsdev.com/title-the-importance-of-professional-biohazard-cleanup-services-what-you-need-to-know-in-2024/"
    url="#"
    badge="FOSS"
  />

</BaseLayout>
